<p style="color: green"><%= notice %></p>

<div class="container text-center">
  <p>Bem-vindo, <%= current_user.name %> (<%= current_user.email %>)</p>

  <h1 class="text-center mb-5">Transações</h1>

  <div class="row justify-content-center">
    <div class="table-responsive">
      <div class="row">
        <% @transacaos.each do |transacao| %>
          <div class="col-md-4">
            <div class="card mb-4 bg-secondary text-secondary-emphasys">
              <div class="card-body">
                <p class="card-text"><strong>Valor:</strong> <%= transacao.valor %></p>
                <p class="card-text"><strong>Valor:</strong> <%= transacao.categoria %></p>
                <div class="button-group">
                  <%= link_to 'Mostrar', transacao, class: "btn btn-primary mr-2 mt-3" %>
                  <%= link_to 'Editar', edit_transacao_path(transacao), class: "btn btn-secondary mr-2 mt-3"%>
                  <%= button_to 'Excluir', carona_path(transacao), method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger mr-2 mt-3" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
  <div class="row justify-content-center mt-5">
    <%= link_to 'Nova transação', new_transacao_path, class: "btn btn-success btn-block", style:"width:15vw; background-color: green; color: white;" %>
  </div>
  </div>
  <br>
  <div style="text-align: center;">
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-block", style: "background-color: red; color: white;" %>
  </div>

</div>