<!-- Botão circular de HOME -->
<div style="position: fixed; bottom: 20px; left: 20px;">
  <%= link_to root_path, class: "home-button" do %>
    <%= image_tag("home.jpg", alt: "Home", style: "width: 75px; height: 75px; border-radius: 50%;") %>
  <% end %>
</div>

<p style="color: green"><%= notice %></p>

<div class="container text-center">

  <div class="d-flex justify-content-center align-items-center">
    <%= image_tag 'transacao.jpg', width: '75', height: '75' %>
  </div>

  <h1 class="page-title">Transações</h1>

  <!-- Formulário para filtrar por conta -->
  <%= form_tag(transacaos_path, method: :get, class: "mb-3") do %>
    <%= label_tag(:account_id, "Selecione uma conta:") %>
    <%= select_tag(:account_id, options_for_select(current_user.accounts.pluck(:nomeConta, :id), params[:account_id]), { prompt: 'Todas as contas' }) %>
    <%= submit_tag("Filtrar",  class: "action-button") %>
  <% end %>

  <div class="row justify-content-center">
    <div class="table-responsive">
      <div class="row">
        <% @transacaos.each do |transacao| %>
          <div class="account-list">
              <div class="account-item">
                <p class="card-text"><strong>Nome da Conta:</strong> <%= transacao.account.nomeConta %></p>
                <p class="card-text" style="<%= transacao.tipo.downcase == 'receita' ? 'color: green;' : 'color: red;' %>"><strong>Tipo:</strong> <%= transacao.tipo %></p>
                <p class="card-text"><strong>Valor:</strong> <%= number_to_currency(transacao.valor, unit: "R$", precision: 2, delimiter: ".", separator: ",") %></p>
                <p class="card-text"><strong>Categoria:</strong> <%= transacao.categoria %></p>
                <div class="account-actions">
                  <%= link_to 'Mostrar', transacao, class: "action-button" %>
                  <%= link_to 'Editar', edit_transacao_path(transacao), class: "action-button"%>
                  <%= button_to 'Excluir', transacao_path(transacao), method: :delete, data: { confirm: 'Tem certeza?' }, class: "delete-button" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <%= link_to 'Nova transação', new_transacao_path, class: "btn btn-success btn-block custom-nova-transacao-btn", style:"width:15vw; background-color: green; color: white; border: 2px solid transparent; transition: all 0.3s ease;" %>
  </div>

  <br>
  <div style="text-align: center;">
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-block custom-logout-btn", style: "background-color: red; color: white; border: 2px solid transparent; transition: all 0.3s ease;" %>
  </div>

</div>

