<p style="color: green"><%= notice %></p>

<%= render @transacao %>

<div class="account-actions">
  <%= link_to "Editar", edit_transacao_path(@transacao), class: "action-button" %> |
  <%= link_to "Voltar", transacaos_path, class: "action-button" %>

  <%= button_to "Deletar", @transacao, method: :delete, class: "delete-button" %>
</div>
