<div id="meta_financeiras" class="account-list">
  <div id="<%= dom_id meta_financeira %>"  class="account-item">
    <p>
      <strong>Nome:</strong>
      <%= meta_financeira.nome %>
    </p>

    <p>
      <strong>Descricao:</strong>
      <%= meta_financeira.descricao %>
    </p>

    <p>
      <strong>Valor:</strong>
      <%= meta_financeira.valor %>
    </p>

    <p>
      <strong>Prazo:</strong>
      <%= meta_financeira.prazo %>
    </p>

    <p>
      <strong>user:</strong>
      <%= meta_financeira.user_id %>
    </p>

  </div>
</div>
