<div id="<%= dom_id meta_financeira %>">
  <p>
    <strong>Nome:</strong>
    <%= meta_financeira.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= meta_financeira.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= meta_financeira.valor %>
  </p>

  <p>
    <strong>Prazo:</strong>
    <%= meta_financeira.prazo %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= meta_financeira.cliente_id %>
  </p>

</div>
