<div id="meta_financeiras" class="account-list">
  <div id="<%= dom_id meta_financeira %>"  class="account-item">
    <p>
      <strong>Nome:</strong>
      <%= meta_financeira.nome %>
    </p>

    <p>
      <strong>Descricao:</strong>
      <%= meta_financeira.descricao %>
    </p>

    <p>
      <strong>Valor:</strong>
      <%= number_to_currency(meta_financeira.valor, unit: "R$", precision: 2, delimiter: ".", separator: ",") %>
    </p>

    <p>
      <strong>Prazo:</strong>
      <%= meta_financeira.prazo %>
    </p>

  </div>
</div>
