<p style="color: green"><%= notice %></p>

<%= render @meta_financeira %>

<div>
  <%= link_to "Edit this meta financeira", edit_meta_financeira_path(@meta_financeira) %> |
  <%= link_to "Back to meta financeiras", meta_financeiras_path %>

  <%= button_to "Destroy this meta financeira", @meta_financeira, method: :delete %>
</div>
