<p style="color: green"><%= notice %></p>

<%= render @meta_financeira %>

<div class="account-actions">
  <%= link_to "Editar", edit_meta_financeira_path(@meta_financeira), class: "action-button" %> |
  <%= link_to "Voltar", meta_financeiras_path, class: "action-button" %>

  <%= button_to "Deletar", @meta_financeira, method: :delete, class: "delete-button" %>
</div>
