<!-- Botão circular de HOME -->
<div style="position: fixed; bottom: 20px; left: 20px;">
  <%= link_to root_path, class: "home-button" do %>
    <%= image_tag("home.jpg", alt: "Home", style: "width: 75px; height: 75px; border-radius: 50%;") %>
  <% end %>
</div>

<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center align-items-center">
  <%= image_tag 'rf.png', width: '75', height: '75' %>
</div>

<h1 class="page-title">Relatorio financeiros</h1>

<div id="relatorio_financeiros" class="account-list construction-warning-wrapper">
  <div class="construction-warning-container">
    <div class="alert alert-warning construction-warning">
      <%= image_tag 'alert.png', width: '75', height: '75' %><br><br>
      <strong>Aviso:</strong> Esta parte está em construção. Por favor, volte mais tarde.
    </div>
  </div>
</div>

<style>
  .construction-warning-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ocupa 100% da altura da viewport */
    text-align: center;
  }

  .construction-warning-container {
    max-width: 600px;
  }

  .construction-warning {
    background-color: #ffcc00; /* Cor de fundo do aviso */
    color: #333; /* Cor do texto */
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2em;
    border: 1px solid #ffcc00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

</style>


