<p style="color: green"><%= notice %></p>

<h1>Relatorio financeiros</h1>

<div id="relatorio_financeiros">
  <% @relatorio_financeiros.each do |relatorio_financeiro| %>
    <%= render relatorio_financeiro %>
    <p>
      <%= link_to "Show this relatorio financeiro", relatorio_financeiro %>
    </p>
  <% end %>
</div>

<div class="row justify-content-center mt-5">
  <%= link_to 'Novo relatorio financeiro', new_relatorio_financeiro_path, class: "btn btn-success btn-block", style:"width:15vw; background-color: green; color: white;" %>
</div>
<br><br>
<div style="text-align: center;">
  <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-block", style: "background-color: red; color: white;" %>
</div>